* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #fbfbfb;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.favorite {
	cursor: pointer;
}
